:root {
    --green-black: rgba(31, 63, 30);
    --green-dark: rgba(115, 172, 113);
    --green-head: rgba(159, 215, 156);
    --green-light: rgb(209, 254, 204);

    --nav-height: 15vh;
    --footer-height: 4vh;

    --size-text: 2vh;
    --size-header: 4vh;
}

body {
    min-height: 86vh;
    padding: 7vh;
    margin: 0;
    display: grid;
    grid-template-rows: var(--nav-height) auto var(--footer-height);
    background-image: url("/images/background.jpg");
    font-size: var(--size-text);
    color: var(--green-black);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vh;
}

#banner input {
    margin: 0 1vh;
}

#banner img {
    height: 10vh;
}

#banner img:hover {
    cursor: pointer;
}

.article {
    border: 2px solid var(--green-black);
    background-color: var(--green-light);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.header {
    padding: .3vw;
    font-size: var(--size-header);
    font-weight: bold;
    background-color: var(--green-head);
}

.content {
    padding: .3vw;
}

#top {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 3vh;
    background-color: var(--green-head);

}

#nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 5px 0;
    background-color: var(--green-dark);
}

#nav div {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--green-light);
    border-right: 2px solid var(--green-light);
}

#nav div:last-child {
    border-right: none;
}

#nav div:hover {
    cursor: pointer;
}

#nav div.selected {
    font-weight: bold;
}

#mid {
    display: grid;
    grid-gap: 3vw;
    padding: 80px 0;
}

.galery {
    display: flex;
}

.galery-item {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.galery-item .folder-icon {
    background-image: url("/images/folder.png");
    background-size: cover;
    height: 20vh;
    width: 20vh;
}

.galery-item:hover {
    cursor: pointer;
}


#footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: 2px solid var(--green-black);
}

#footer img {
    height: 3vh;
}

.emoji {
    height: var(--size-text) !important;
}