@import url("stylesheet.css");

#mid{
    grid-template-areas:'a b b';
    grid-template-columns: repeat(3, 1fr);
}

#casus-galery{
    grid-area: a;
    flex-direction: column;
    justify-content: space-around;
}

#casus-beschrijving{
    grid-area: b;
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#casus-galery .galery-item{
    flex-direction: row;
    font-size: 3vw;
}
